$checkBoxWidth: 18px;

#details-body h1.md-toolbar-tools {
    color: #222;
}

.mdtTable {
    &.invisible {
        visibility: hidden;
    }
    box-shadow: none;
    font-size: 15px;
    /* 12sp Roboto Medium, 54% black */
    /* optional animation of sort icons: add class 'animate-sort-icon' to mdt-header-row to activate animation */
    /* 64dp card header height */
    /* 56do for last row */
    /* column padding */
    /* 48dp row height */
    /* 13sp Roboto Regular, 87% black */
    /* border separation color */
    /* INTERACTION */
    /* default icon color */
    table {
        width: 100%;
        &:focus {
            outline: none;
        }
        tr {
            @extend .noselect;
            cursor: default;
            &:focus {
                outline: none;
            }
        }
        td, th {
            padding: 0;
            margin: 0;
        }

        th {
            font-size: 12px;
            font-weight: 500;
            color: #666666;
            cursor: pointer;
            white-space: nowrap;
            position: relative;

            &[disabled] {
                cursor: auto;
            }

            &:focus {
                outline: none;
            }

            &:hover .hoverSortIcons ng-md-icon {
                visibility: visible;
            }

            .hoverSortIcons ng-md-icon {
                visibility: hidden;
                width: 16px;
                height: 16px;
                fill: #b3b3b3;
            }
            .hoverSortIcons ng-md-icon svg {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }

        .column-container {
            position: relative;
            width: 100%;
            height: 100%;

            .column-header-body {
                overflow: hidden;
                position: absolute;
                top: 20px;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                max-height: 25px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .column-body {
                overflow: hidden;
                position: absolute;
                top: 13px;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                max-height: 25px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    #visible-header {
        background-color: #FAFAFA;
        border-bottom: 1px solid #eeeeee;
        th:hover {
            background-color: #EEEEEE;
            color: #404040;
        }
    }

    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

}

.mdtTable th .sortedColumn {
    /* when hoverSortIcons on a sorted column*/
    /* sort icon rotated -90 degrees for descending sort */
}

.mdtTable th .sortedColumn .hoverSortIcons ng-md-icon {
    display: none;
}

.mdtTable th .sortedColumn ng-md-icon {
    /* specified 16px is a fix now cause angular materia generates a 24x24 icon even the passed value is 16  */
    width: 16px;
    height: 16px;
    fill: #212121;
    /* sort icon rotated 90 degrees for ascending sort (default) */
}

.mdtTable th .sortedColumn ng-md-icon svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.mdtTable th .sortedColumn.descending ng-md-icon > svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.mdtTable thead tr.animate-sort-icon .sortedColumn ng-md-icon svg {
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
}

.mdtTable .mdt-header, .mdtTable .mdt-header-alternate {
    height: 64px;
    padding-left: 16px;
    padding-right: 14px;
}

.mdtTable .mdt-header md-button, .mdtTable .mdt-header-alternate md-button {
    margin-left: 16px;
}

.mdtTable .mdt-header ng-md-icon, .mdtTable .mdt-header-alternate ng-md-icon {
    fill: #757575;
}

.mdtTable .mdt-header-alternate {
    background-color: #e3edfd;
}

.mdtTable .mdt-header-alternate .alternate-text {
    color: #0D47A1;
}

.mdtTable .mdt-footer, .mdtTable tr th {
    height: 56px;
}

.mdtTable .mdt-footer .mdt-pagination, .mdtTable tr th .mdt-pagination {
    font-size: 12px;
    color: #757575;
}

.mdtTable .mdt-footer .mdt-pagination md-input-container, .mdtTable tr th .mdt-pagination md-input-container {
    margin-top: 0;
    margin-bottom: 0;
}

.mdtTable .checkboxCell {
    width: $checkBoxWidth;
    /*the next cell should not have just 24px padding */
}

.mdtTable .checkboxCell md-checkbox {
    margin: 0;
    padding: 0;
}

.mdtTable .checkboxCell + td, .mdtTable .checkboxCell + th {
    padding-left: 16px;
}

.mdtTable tr td {
    padding: 0;
    height: 48px;
    font-size: 13px;
}

.mdtTable td:first-child, .mdtTable th:first-child {
    padding: 0 0 0 16px;
}

.mdtTable td:last-child, .mdtTable th:last-child {
    padding-right: 16px;
}

.mdtTable .column {
    padding-left: 56px;
}

.mdtTable .leftAlignedColumn {
    text-align: left;
}

.mdtTable .rightAlignedColumn {
    text-align: right;
}

.mdtTable tr th {
    color: #212121;
    border-bottom: 0;
}

.mdtTable tr td {
    border-bottom: solid 1px #DDDDDD;
}

.mdtTable ng-md-icon {
    fill: #757575;
}

/*context-menu*/
mtd-dropdown.context-menu {
    background-color: white;
    position: fixed;
    z-index: 51;
    min-width: 250px;
}

.mdt-dropdown-menu-item {
    overflow: hidden;
    margin: 0;
    display: block;
    text-align: left;
    padding: 5px 10px 5px 20px;
    text-transform: none;
    font-size: 14px;
    font-weight: normal;

    md-icon {
        font-size: 20px;
        font-weight: normal;
    }

    .name {
        padding-left: 10px;
    }
}

