<div ng-style="headerRowData.columnStyle">
    <!-- style="width: 100%;text-align: center;"-->
    <div style="display: inline-block;" ng-if="headerRowData.columnType == 'html'" ng-bind-html="trustHtml(headerRowData.columnContent())"></div>

    <div ng-if="headerRowData.columnType != 'html'" layout="row" style="display: inline-block;">
        <md-tooltip ng-if="headerRowData.columnDefinition">{{headerRowData.columnDefinition}}</md-tooltip>

        <span ng-show="headerRowData.alignRule == 'right'">
            <span class="hoverSortIcons" ng-show="!isSorted() && headerRowData.sortable">
                <ng-md-icon icon="{{headerRowData.sortIcon ? headerRowData.sortIcon : 'arrow_forward'}}" size="16"></ng-md-icon>
            </span>

            <span class="sortedColumn" ng-show="isSorted()" ng-class="direction !== -1 ? 'ascending' : 'descending'">
                <ng-md-icon icon="{{headerRowData.sortIcon ? headerRowData.sortIcon : 'arrow_forward'}}" size="16"></ng-md-icon>
            </span>
        </span>
        <span class="noselect" ng-class="isSorted()?'sortedColumn':''">
            {{headerRowData.columnName}}
        </span>
        <span ng-show="headerRowData.alignRule == 'left'">
            <span class="hoverSortIcons" ng-show="!isSorted() && headerRowData.sortable">
                <ng-md-icon icon="{{headerRowData.sortIcon ? headerRowData.sortIcon : 'arrow_forward'}}" size="16"></ng-md-icon>
            </span>

            <span class="sortedColumn" ng-show="isSorted()" ng-class="direction !== -1 ? 'ascending' : 'descending'">
                <ng-md-icon icon="{{headerRowData.sortIcon ? headerRowData.sortIcon : 'arrow_forward'}}" size="16"></ng-md-icon>
            </span>
        </span>
    </div>
    <!--<div ng-if="headerRowData.columnType != 'html'" ng-show="!sortableColumns" layout="row" style="display: inline-block;">-->
        <!--<md-tooltip ng-if="headerRowData.columnDefinition">{{headerRowData.columnDefinition}}</md-tooltip>-->

        <!--<span ng-class="isSorted()?'sortedColumn':''">-->
            <!--{{headerRowData.columnName}}-->
        <!--</span>-->
    <!--</div>-->
</div>