<md-content flex class="mdtTable md-whiteframe-z1" layout="column" ng-cloak>

    <div layout="row" layout-align="center">
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead id="visible-header">
            <tr class="theadTrRow" mdt-animate-sort-icon-handler>
                <th bindonce class="checkboxCell"
                    style="text-align:left;"
                    ng-if="selectableRows"
                    mdt-select-all-rows-handler>
                    <md-checkbox aria-label="select all" ng-model="selectAllRows"></md-checkbox>
                </th>
                <th
                        bindonce
                        class="column"
                        bo-class="'columnSize'+$index"
                        ng-repeat="headerRowData in tableDataStorageService.header track by $index"
                        mdt-add-align-class="headerRowData.alignRule"
                        bo-style="{'width':headerRowData.maxWidth}"
                        mdt-sort-handler
                        md-ink-ripple="{{rippleEffect}}">

                    <mdt-generated-header-cell-content></mdt-generated-header-cell-content>
                </th>
            </tr>
            </thead>
            <tbody id="hiddenBody" style="visibility: hidden;">
            <tr class="theadTrRow" mdt-animate-sort-icon-handler>

                <td
                        bindonce
                        class="column"
                        bo-class="'columnSize'+$index"
                        ng-repeat="cellData in tableDataStorageService.maxRow.data track by $index"
                        mdt-add-align-class="tableDataStorageService.header[$index].alignRule"
                        bo-switch="tableDataStorageService.header[$index].type">
                    <span bo-switch-when="html"
                          mdt-add-html-content-to-cell="tableDataStorageService.header[$index].content(tableDataStorageService.maxRow)"></span>
                    <span bo-switch-when="date">{{cellData | date:"MMM dd, yyyy"}}</span>
                    <span bo-switch-default bo-bind="cellData"></span>
                </td>

            </tr>
            </tbody>
        </table>

    </div>
    <md-content flex layout="row" layout-align="center" ng-style="{'margin-top': hiddenBodyHeight()}">
        <md-content flex>
            <table id="data-table" cellpadding="0" cellspacing="0" layout-fill
                   ng-style="{'margin-top': hiddenHeadHeight()}">
                <thead id="hiddenHead" style="visibility: hidden;">
                <tr class="theadTrRow"
                    mdt-animate-sort-icon-handler>

                    <th class="checkboxCell"
                        style="text-align:left;"
                        ng-if="selectableRows"
                        mdt-select-all-rows-handler>
                        <md-checkbox aria-label="select all" ng-model="selectAllRows"></md-checkbox>
                    </th>

                    <th
                            bindonce
                            ng-repeat="headerRowData in tableDataStorageService.header track by $index"
                            mdt-add-align-class="headerRowData.alignRule"
                            bo-style="{'width':headerRowData.maxWidth}"
                            class="column"
                            bo-class="'columnSize'+$index"
                            mdt-sort-handler
                            md-ink-ripple="{{rippleEffect}}">

                        <mdt-generated-header-cell-content></mdt-generated-header-cell-content>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr bindonce ng-repeat="rowData in mdtPaginationHelper.getRows() track by $index"
                    bo-class="{'selectedRow': rowData.optionList.selected}"
                    ng-click="mdtPaginationHelper.selectRow(rowData)"
                    bo-show="(isPaginationEnabled() === false || rowData.optionList.visible === true) && rowData.optionList.deleted === false">

                    <td bindonce class="checkboxCell" bo-show="selectableRows">
                        <md-checkbox aria-label="select" ng-model="rowData.optionList.selected"></md-checkbox>
                    </td>
                    <td
                            bindonce
                            class="column"
                            bo-class="'columnSize'+$index"
                            ng-repeat="headerRowData in tableDataStorageService.header track by $index"
                            bo-style="{'width':headerRowData.maxWidth}"
                            mdt-add-align-class="tableDataStorageService.header[$index].alignRule"
                            bo-switch="tableDataStorageService.header[$index].type">
                    <span bo-switch-when="html"
                          mdt-add-html-content-to-cell="tableDataStorageService.header[$index].content(rowData)"></span>
                        <span bo-switch-when="date"
                              bo-bind="rowData.data[headerRowData.id] | date:'MMM dd, yyyy'"></span>
                        <span bo-switch-default bo-bind="rowData.data[headerRowData.id]"></span>
                    </td>
                </tr>
                <tr bindonce bo-show="mdtPaginationHelper.isLoading">
                    <td colspan="999">
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                    </td>
                </tr>
                <tr bindonce bo-show="mdtPaginationHelper.isLoadError">
                    <td colspan="999" bo-bind="mdtPaginationHelper.mdtRowPaginatorErrorMessage">
                    </td>
                </tr>
                </tbody>
            </table>

        </md-content>


    </md-content>


    <!-- table card -->
    <mdt-card-footer></mdt-card-footer>
    <!-- table card end -->
</md-content>