<md-content id="grid_{{gridId}}" flex class="mdtTable md-whiteframe-z1" layout="column" style="box-shadow: none;" ng-cloak ng-class="{'invisible': !tableIsReady}">


    <div ng-hide="mdtPaginationHelper.getRows().length" flex layout="column" layout-align="center center" style="height: 100%">
        <span class="md-subhead" ng-bind="mdtEmptyTitle"></span>
    </div>
    <div id="visible-header" class="row-header" style="display: block" ng-show="mdtPaginationHelper.getRows().length && !mtHideHeader">
        <div ng-cloak layout="row" mdt-animate-sort-icon-handler flex>
            <div
                    ng-style="headerRowData.style"
                    class="th"
                    mdt-add-align-class="headerRowData.alignRule"
                    mdt-sort-handler
                    md-ink-ripple="{{rippleEffect}}"
                    ng-repeat="headerRowData in tableDataStorageService.header | filter: {enabled : true} track by $index" ng-class="headerRowData.class">
                <mdt-generated-header-cell-content></mdt-generated-header-cell-content>
            </div>
            <div class="th flex-order-{{tableDataStorageService.header.length}}" ng-if="isScrollVisible" ng-style="{'width':scrollWidth,'padding-right':'0'}"></div>
        </div>
    </div>
    <div class="data-container" flex layout="column" ng-show="mdtPaginationHelper.getRows().length" ng-if="isSelectable">
        <md-list flex mtd-context-menu
                 style="position: relative"
                 menu-list="menuList"
                 on-menu-selected="onMenuSelected(menuItem)"
                 on-popup="onPopup()">
            <md-virtual-repeat-container ng-style="mtHideHeader && {'top':'10px'} || {'top':'0px'}" style="bottom:0;left:0;right:0;width:100%;position: absolute">
                <md-list-item md-virtual-repeat="rowData in tableDataStorageService.storage"
                              md-item-size="49"
                              aria-label="{{$index}}"
                              ng-class="{'selectedRow': rowData.optionList.selected}"
                              class="row-container"
                              on-long-press="mdtPaginationHelper.selectRow(rowData)"
                              ng-dblclick="mdtPaginationHelper.dblclick(rowData)"
                              mtd-right-click="mdtPaginationHelper.selectRow(rowData)"
                              mdt-table-row
                              data-grid-id="gridId"
                              data-on-click="mdtPaginationHelper.onTouch(rowData)"
                              data-props="tableDataStorageService.header"
                              data-model="rowData">
                </md-list-item>
            </md-virtual-repeat-container>
        </md-list>
    </div>
    <div class="data-container" flex layout="column" ng-show="mdtPaginationHelper.getRows().length" ng-if="!isSelectable">
        <md-list flex style="position: relative">

            <md-virtual-repeat-container ng-style="mtHideHeader && {'top':'10px'} || {'top':'0px'}" style="bottom:0;left:0;right:0;width:100%;position: absolute">
                <md-list-item md-virtual-repeat="rowData in tableDataStorageService.storage"
                              md-item-size="49"
                              aria-label="{{$index}}"
                              class="row-container"
                              on-long-press="mdtPaginationHelper.selectRow(rowData)"
                              ng-dblclick="mdtPaginationHelper.dblclick(rowData)"
                              mtd-right-click="mdtPaginationHelper.selectRow(rowData)"
                              mdt-table-row
                              data-grid-id="gridId"
                              data-on-click="mdtPaginationHelper.onTouch(rowData)"
                              data-props="tableDataStorageService.header"
                              data-model="rowData">
                </md-list-item>
            </md-virtual-repeat-container>
        </md-list>
    </div>


    <!-- table card -->
    <mdt-card-footer></mdt-card-footer>
    <!-- table card end -->


</md-content>